<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <!-- NAVBAR -->
      <nav class="navBar">
        <div class="logoContainer">
          <img id="logoImg" src="/logos/logo.png" alt="logo 1.png">
          <img id="logoGif" src="/logos/logovid.gif" alt="logo Gif.png">

        </div>
           <div class="navButtonsContainer">
              <% if (!userData.name) { %>
                <div id="login_div">
                  <form id="login_form" method="POST" action="/sessions">
                    <input type="phone" name="phone" value="phone number">
                    <input type="user" name="user" value="name">
                    <input type="submit" class="btn btn-secondary btn-sm"
                    value="Log In">
                  </form>
                </div>
                <% } else { %>
                  <div id="Welcome_user" >
                    <h3  class="navbar-brand"> WELCOME </h3>
                    <h3  class="navbar-brand"> <%= userData.name %> </h3>
                    <form method="POST" action="/logout">
                      <input type="submit" class="btn btn-secondary btn-sm"
                      value="LOG OUT" >
                    </form>
                  </div>
                  <% } %>

            </div>

      </nav>

      <!-- BANNER -->

    </header>
    <main>
      <div class="mainContainer">
        <!-- MENU -->
        <table class="menuContainer">
          <%if (items && items.length > 0){%>
          <%for(let item of items) {%>
            <tr class="menuTr" id="menuTr">
            <td class="itemImage"><img class="teaImg" src="<%=item.photo%>" alt="<%=item.photo%>" width="50px" height="80px"></td><td class="itemName"><%=item.name%></td><td class="itemPrice"><%=item.price_cents%></td><td><button class="addItem" type="submit" data-itemid="<%=item.id%>"> ADD TO CART </button></td>
            </tr>
          <%}%>
          <%}%>


        </table>
        <!-- CART -->
        <!-- <table class="cartContainer">
          <tbody class="cart"> -->
            <div class="cartItemsContainer" id="cartItemsContainer">

                <div id="cartButtons">
                  <tr class="clearCartButtonContainer"><td><button class="clearCartButton" type="submit" > Clear Cart</button></td></tr>
                  <tr class="purchaseButtonContainer"><td><button class="purchaseButton" type="submit" > PURCHASE</button></td></tr>
                </div>

            </div>
          <!-- </tbody>
        </table> -->

      </div>

      <footer>

        <div class="mapContainer">
          <h5>MAP</h5>
        </div>
        <div class="mapContainer">
          <ul>
            <li>Address: 345 Chesnut Drive</li>
            <li>Phone: 604-BUBBLE-T</li>
            <li>Email: ela@tapioca_loca.ca</li>
          </ul>
        </div>

      </footer>
    </main>
  </body>
</html>
